.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 60px;
}

.linksContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.active {
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: #000;
}