.main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.firstContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
    width: 200px;
}

.firstContainerText {
    text-align: right;
    padding: 15px 0;
    padding-right: 10px;
    width: 100%;
    cursor: pointer;
}

.active {
    background-color: #221F1F;
    color: #fff;
    cursor: pointer;
}

.secondContainer {
    padding: 0 60px;
}