.main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.firstContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
    width: 200px;
}

.firstContainerText {
    text-align: right;
    padding: 15px 0;
    padding-right: 10px;
    width: 100%;
    cursor: pointer;
}

.active {
    background-color: #221F1F;
    color: #fff;
    cursor: pointer;
}

.secondContainer {
    margin: 0 60px;
    padding: 0px 30px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 27rem), 1fr));
    grid-gap: 40px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #fafafa;
    padding-top: 50px;
    padding-bottom: 50px;
}

.imageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.image {
    width: 350px;
    height: 350px;
}

.soldText {
    position: absolute;
    top: 5px;
    right: 0px;
    color: #fff;
    background-color: #6445FF;
    width: 100px;
    height: 30px;
    z-index: 99;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
}