.main {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.firstContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 5px;
    flex-direction: column;
    width: 200px;
}

.firstContainerText {
    text-align: right;
    padding: 15px 0;
    padding-right: 10px;
    width: 100%;
    cursor: pointer;
}

.active {
    background-color: #221F1F;
    color: #fff;
    cursor: pointer;
}

.secondContainer {
    margin: 0 60px;
    padding: 0px 60px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(min(100%, 27rem), 1fr));
    grid-gap: 15px;
    padding-top: 5px;
    padding-bottom: 15px;
    background-color: #fafafa;
}

.imageContainer {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.image {
    width: 350px;
    height: 350px;
}